@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: "100vw";
  height: "100vh";
  background-color: white;
  margin: 0;
  padding: 0;
}

body {
  width: "100vw";
  height: "100vh";
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}
